*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
.box{
    height: 100px;
    width: 100px;
    margin: 5px;
    margin-left: 10px;
    border: 1px solid black;
}
#container{
    height: 400px;
    width: 400px;
    border: 2px solid black;
    margin-left: 10px;
    background-color: lightslategray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*
    flex-direction: row;
    flex-direction: column;
    flex-direction: column-reverse;
    */
    /* Here is the justify content where the developer need all boxs at center , at left i.e flex-start and right flex-end and idf you need space we can space between and if you want space around we use space-around
    justify-content: flex-start;
    flex-direction: flex-end;
    flex-direction: space-around;
    */
    /*
    flex-wrap is use for wraping data with in the div
    */
    /*
    we have few more loke flex-shrink , flex-grow, order
    */
}
#box1{
    background-color: aqua;
}
#box2{
    background-color: darkviolet;
}
#box3{
    background-color: yellow;
}
#box4{
    background-color: orangered;
}